.Contact {
    background-color: #282c34;
    min-height: 90vh;
    font-size: calc(10px + 2vmin);
    color: white;
  }

.Contact-container {
    display: flex;
}

.Contact-content{
    margin: auto;
}