.ProjectsRoute {
    background-color: #282c34;
    min-height: 90vh;
    font-size: calc(10px + 2vmin);
    color: white;
    text-align: center;  
  }

.ProjectsRoute-container {
    display: grid;
    margin-left: 10%;
    margin-right: 10%;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 10px;

}

.ProjectsRoute-content{
    
}